<div class="container">

<h4>Title: <%= @task.title %></h4>
<ul>
  <li>Details: <%= @task.details %></li>
  <li>Status:
    <% if @task.completed %>
      <%= "Completed" %>
    <% else %>
      <%= "Outstanding" %>
    <% end %>

  </li>
  
  <li>Deadline: <%= @task.deadline %></li>

</ul>

<%= link_to "Back to Tasks", tasks_path %>
</div>
